*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  background-color: #680115;
}

.container{
  max-width: 1000vw;
  min-width: 320px;
  margin: 0 auto;
  padding: 5px;
}

h1{
  background-color: rgba(0, 0, 0, 0.89);
  color: #c90101e5;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.89);
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

main{
  background-color: #ffffff59;
  max-width: 1000px;
  min-width: 320px;
  border:solid #ffffff;
  border-radius: 0px 0px 10px 10px;
  margin: auto;
  margin-bottom: 7px;
  padding:10px;
  box-shadow: 0px 7px 20px #000000f1;
}

footer > div.footer1 {
  font-weight: bolder;
  font-size:large;
  padding: 5px;
  text-align: center;
}

a{
  text-decoration: none;
  color: #ffebcd;
}

a:hover{
  color: #a7a5a5c7;
  transition: 1.5s;
}

div#linha1 {
  text-align: center;
}

.d1{
  display: inline-block;
}

.d2{
  display: inline-block;
}

div#linha2 {
  text-align: center;
}

.d3{
  display: inline-block;
}

.d4{
  display: inline-block;
}


.subtitulo{
  color: #e2e1e1;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}


